<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>COMP90024 Team 32</title>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
		<link rel="stylesheet" href="./static/resources/css/my.css">


	</head>

	<body>
		<div id="mapid"></div>
		<br/>




		<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
		<script src="./static/lib/js/d3.js"> type="text/javascript"></script>
		<script src="./static/lib/js/crossfilter.js"> type="text/javascript"></script>
		<script src="./static/lib/js/d3-queue.min.js"></script>
		<script src="./static/resources/js/preprocess.js"> type="text/javascript"></script>
		<script src="./static/resources/js/map.js"> type="text/javascript"></script>
	</body>
</html>
