<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>COMP90024 Team 32</title>
		<link rel="stylesheet" href="../static/resources/css/my.css" />
		<link rel="stylesheet" href="../static/lib/css/dc.min.css" />
		<script type="text/javascript">
			var data = {{data|tojson}}
		</script>


	</head>

	<body>

		<select id="opt-bar-graph-1" onchange="optionOnChange(1)">
		</select>

		<div class='bar-graph' id="bar-graph-1"></div>
		<br/>

		<select id="opt-bar-graph-2" onchange="optionOnChange(2)">
		</select>

		<div class='bar-graph' id="bar-graph-2"></div>
		<br/>
		<!--<div id="scenario_graph3"></div>-->
		<!--<br/>-->
		<!--<div id="scenario_graph4"></div>-->
		<!--<br/>-->
		<!--<div id="scenario_graph5"></div>-->
		<!--<br/>-->
		<!--<div id="scenario_graph6"></div>-->
		<!--<br/>-->



		<script src="../static/lib/js/d3.js"> type="text/javascript"></script>
		<script src="../static/lib/js/crossfilter.js"> type="text/javascript"></script>
		<script src="../static/lib/js/dc.min.js"> type="text/javascript"></script>
		<script src="../static/lib/js/d3-queue.min.js"> type="text/javascript"></script>
		<script src="../static/resources/js/preprocess.js"> type="text/javascript"></script>
		<script src="../static/resources/js/scenario_graphs.js"> type="text/javascript"></script>
	</body>
</html>

