<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>COMP90024 Team 32</title>
		<link rel="stylesheet" href="./static/resources/css/my.css">
		<link rel="stylesheet" href="./static/lib/css/dc.min.css" />


	</head>

	<body>
		<div id="scenario1_graph1"></div>
		<br/>
		<div id="scenario1_graph2"></div>
		<br/>
		<div id="scenario1_graph3"></div>
		<br/>
		<div id="scenario1_graph4"></div>
		<br/>
		<div id="scenario1_graph5"></div>
		<br/>
		<div id="scenario1_graph6"></div>
		<br/>




		<script src="./static/lib/js/d3.js"> type="text/javascript"></script>
		<script src="./static/lib/js/crossfilter.js"> type="text/javascript"></script>
		<script src="./static/lib/js/dc.min.js"> type="text/javascript"></script>
		<script src="./static/lib/js/d3-queue.min.js"> type="text/javascript"></script>
		<script src="./static/resources/js/preprocess.js"> type="text/javascript"></script>
		<script src="./static/resources/js/scenario1_graphs.js"> type="text/javascript"></script>
	</body>
</html>
