/* default font for body */
body.application {
	padding-top: 0px; /* so that navbar is at top */
}

#mapid {
	height: 75vh;
}


/* info at corner of the map */
/* adapted from http://leafletjs.com/examples/choropleth/ */
.area-info {
	padding: 5px 10px 5px; /* top (right,left) bottom */
	font-size: 1em;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2); /* h-shadow v-shadow blur-distance color */
	border-radius: 5px;
	width: 240px;
	max-width: 240px;
	line-height: 17px;
}
.area-info h4 {
	margin: 0 0 0px; /* top (right,left) bottom */
	color: #6C7A89;
	font-size: 1.1em;
}
.area-info h5 {
	margin: 2 0 2px; /* top (right,left) bottom */
	font-size: 1.05em;
}
.area-info i {
	width: 13px;
	height: 13px;
	margin: 2px 8px 2px 0px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
	border: 2px solid black;
}


/* column selection at corner of the map */
.column-selection {
	padding: 0px 10px 10px 7px; /* top right bottom left */
	/*font-size: 1em;*/
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2); /* h-shadow v-shadow blur-distance color */
	border-radius: 5px;
	width: 240px;
	max-width: 240px;
}
.column-selection input{ margin:3; } /* for radio button */

.column-selection h4 {
	margin: 5px 0px -8px; /* top (right,left) bottom */
	color: #6C7A89;
	font-size: 1.1em;
}
.column-selection h5 {
	margin: 5px 0px 3px; /* top (right,left) bottom */
	color: #6C7A89;
	font-size: 1.1em;
}


/* adapted from http://leafletjs.com/examples/choropleth/ */
.legend {
	line-height: 20px;
}
.legend h4 {
	margin: 0 0 8px; /* top (right,left) bottom */
	color: #6C7A89;
	font-size: 1.1em;
}
.legend i {
	width: 16px;
	height: 16px;
	margin: 2px 8px 2px 0px;
	float: left;
	opacity: 0.7;
}


/* emoji popup on map */
.emoji-popup {
	font-size: 1em;
}


/* rotate the x ticks */
.bar-graph .x.axis text {
	text-anchor: end !important;
	transform: translate(-13px, 10px) rotate(270deg);
}


/* graph */
.bar-graph-container,
.scatter-graph-container {
	overflow: auto;
	position: relative;
}
.bar-graph {
	width: 1250px;
}
.scatter-graph {
	width: 1000px;
}


/* navbar adapted from */
/* http://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap-3 */
body.application .navbar-custom {
    background-color: #193441; /* dark grey */
    border-radius: 0px;
	margin-right: -15px; /* to be as large as the .row */
    margin-left: -15px;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #FCFFF5;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #FCFFF5; /* white */
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #FCFFF5;
    background-color: #3E606F;
}

/* for dropdown only - change the color of dropdown */
.navbar-custom .dropdown-menu {
	background-color: #193441;
}
.navbar-custom .dropdown-item {
    color: #FCFFF5;
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #FCFFF5;
    background-color: #91AA9D; /* light grey */
}

.navbar-custom .navbar-nav>.open>a,
.navbar-custom .navbar-nav>.open>a:hover,
.navbar-custom .navbar-nav>.open>a:focus {
	background-color: #3E606F; /* med grey */
	color: #FCFFF5;
}


/* center the 'not found' text */
.not-found-container {
	height: 75vh;
}
.not-found {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.not-found h1{
	font-size: 5em;
    text-align: center;
	vertical-align: middle;
}

